.pio
**/.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore all Python files
*.py

# Arquivo platformio.ini
*.ini

dependencies.lock
sdkconfig*
!sdkconfig.defaults
